.btn {
    width: 151px;
    height: 50px;

    background: transparent;
    border-radius: 50px;
    border: 1px solid var(--light-golden);

    color: var(--light-golden);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 156.25%;

    cursor: pointer;

    // &:hover, &:focus {
    //     background: var(--light-golden);
    //     color: transparent;
    // }
}