.nav {
    display: flex;
    align-items: center;


    & ul {
        list-style: none;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 44px;
        
        max-width: 375px;
        // height: 25px;

        color: var(--light-golden);
    }
}