.nav {
    display: flex;
    align-items: center;


    & ul {
        list-style: none;

        display: flex;
        justify-content: space-between;
        align-items: center;
        
        width: 375px;
        height: 25px;

        color: var(--light-golden);
    }
}