.body {
    min-width: 320px;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;

    text-align: center;
    font-size: 16px;
}

.container {
    max-width: 1570px;
    // width: ;
    padding: 30px;


}