.hero_slider {
    position: absolute;
    top: 50%;
    left: 63%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    gap: 40px;

    & .big_circle {
        position: relative;

        width: 650px;
        height: 650px;

        border: 1px solid var(--light-golden);
        border-radius: 50%;
        background: transparent;

        & p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            font-size: 150px;
        }
    }

    & .small_circle {
        position: relative;

        width: 118px;
        height: 118px;

        border: 1px solid var(--light-golden);
        border-radius: 50%;
        background: transparent;

        & p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
    
            font-size: 50px;
        }
    }

    & .butt_box {
        position: absolute;
        bottom: 50px;
        right: 150px;

        width: 110px;
        height: 26px;
        outline: 1px solid darkolivegreen;

        & button {
            width: 54px;
            height: 26px;
            border: none;
            background: transparent;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
            }
        }

        & .butt_first {
            position: absolute;
            top: 25%;
            left: 0;

            & img {
                transform: rotateZ(180deg);
            }
        }

        & .butt_second {
            position: absolute;
            right: 0;
        }
    }
}